---
interface Props {
  certification: {
    date: string;
    course: string;
    link: string;
    provider: string;
  };
  isLast: boolean;
}

const { certification, isLast } = Astro.props;
---

<div class="about-table-row justify-start">
  <div class="about-column">
    <div class="paragraph-mini _600-semibold">{certification.date}</div>
  </div>
  <div class="about-column">
    <div class="paragraph-mini _600-semibold">{certification.course}</div>
  </div>
  <a
    href={certification.link}
    class="about-column certification-link w-inline-block"
  >
    <div class="paragraph-mini _600-semibold">{certification.provider}</div>
    <div class="about-link-embed w-embed">
      <svg
        width="9"
        height="11"
        viewBox="0 0 9 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M7.50259 3.34025L1.05882 10.5L0 9.32354L6.44378 2.16378H0.764291V0.5H9V9.65081H7.50259V3.34025Z"
          fill="currentColor"></path>
      </svg>
    </div>
  </a>
  <!-- {@if !isLast}
    <div class="divider"></div>
  {/if} -->
</div>
{!isLast ? <div class="divider" /> : ""}
