---
// Define the contact section data
let contactImageSrc =
  "/assets/profile.webp";
let contactTitle = "Say Hello.";
let contactDescription =
  "Just drop a line, I'll figure out the best option for you";
---

<section class="contact-section">
  <div class="w-layout-blockcontainer main-container w-container">
    <div class="contact-container">
      <div class="contact-form-wrapper w-form">
        <form
          id="wf-form-Contact-Form"
          name="wf-form-Contact-Form"
          data-name="Contact Form"
          method="get"
          class="contact-form"
          data-wf-page-id="64b2502accfd5b8a144540ad"
          data-wf-element-id="2da67008-0e49-6123-9ab2-b7eebfbd0eb4"
        >
          <div class="contact-heading-wrapper">
            <img
              alt="Hero Image"
              loading="lazy"
              src={contactImageSrc}
              class="contact-image"
            />
            <h1 class="display">{contactTitle}</h1>
            <p class="paragraph">{contactDescription}</p>
          </div>
          <div class="contact-fields-wrapper">
            <input
              type="text"
              class="input-field w-input"
              maxlength="256"
              name="name"
              data-name="Name"
              placeholder="Name"
              id="name"
              required=""
            /><input
              type="email"
              class="input-field w-input"
              maxlength="256"
              name="Email"
              data-name="Email"
              placeholder="Email"
              id="email"
              required=""
            /><textarea
              id="message"
              name="Message"
              maxlength="5000"
              data-name="Message"
              placeholder="Message"
              class="input-field with-min-height w-input"></textarea><input
              type="submit"
              value="Submit"
              data-wait="Please wait..."
              class="submit-button w-button"
            />
          </div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
      <div class="contact-footer">
        <div class="contact-footer-title">
          <h2 class="h4">Connect with me</h2>
        </div>
        <div class="footer-contact-details-wrapper">
          <a href="#" class="website-link-wrapper w-inline-block">
            <div>adhilroshann@gmail.com</div><img
              src="https://uploads-ssl.webflow.com/64ac1ab9a54f83f58d02a039/64aedb61df0d42a5c91f4822_Black%20CTA%20Arrow.svg"
              loading="lazy"
              alt=""
              class="website-link-arrow"
            />
          </a>
          <div class="social-link-blocks-wrapper">
            <a href="#" class="social-link-block w-inline-block">
              <div class="social-link-embed w-embed">
                <svg
                  width="26"
                  height="25"
                  viewBox="0 0 26 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M21.6543 12.0534C21.5613 10.3592 20.9421 8.7991 19.9508 7.52152C19.6893 7.79558 19.3682 8.09322 18.9535 8.42841C17.9703 9.2232 16.7793 9.94037 15.3652 10.5216C15.5455 10.8857 15.7113 11.2392 15.8572 11.5724L15.8585 11.5752C15.8871 11.6395 15.9117 11.6982 15.9596 11.814C15.9659 11.8291 15.9717 11.8431 15.9774 11.8564C17.6171 11.679 19.3456 11.7444 21.0218 11.9627C21.2447 11.9917 21.4553 12.0221 21.6543 12.0534ZM11.4879 4.2927C11.6763 4.54781 11.8734 4.82112 12.1118 5.15986C12.7755 6.1027 13.4288 7.0975 14.0403 8.11954C14.1643 8.32693 14.2858 8.53394 14.4043 8.74043C15.7291 8.23919 16.8236 7.60677 17.7056 6.90057C18.0624 6.61491 18.3497 6.34655 18.5685 6.11397C17.0624 4.89839 15.12 4.16634 12.9998 4.16634C12.4842 4.16634 11.9789 4.20965 11.4879 4.2927ZM4.60689 10.4138C5.23391 10.4002 5.94156 10.3636 6.81729 10.2863C8.55843 10.1326 10.3364 9.85644 12.0843 9.42961C11.4527 8.37177 10.767 7.31562 10.0689 6.3057C9.73336 5.82025 9.40704 5.36417 9.15925 5.0272C6.9282 6.08939 5.24094 8.0482 4.60689 10.4138ZM6.26547 17.7455C6.68521 17.1552 7.23716 16.4907 7.97097 15.7678C9.54616 14.2161 11.4058 13.0078 13.5566 12.3406C13.5867 12.3321 13.6069 12.3263 13.6238 12.3216C13.4451 11.9425 13.2774 11.6044 13.1085 11.2853C11.1195 11.8421 9.02433 12.1903 6.93619 12.3707C5.91829 12.4586 5.00489 12.4977 4.33317 12.5043C4.33428 14.4905 5.05808 16.3143 6.26547 17.7455ZM16.2547 20.2253C16.1416 19.6606 15.9973 19.0315 15.8056 18.3059C15.4578 16.9905 15.0222 15.6372 14.4873 14.2786C12.3186 15.0354 10.5902 16.1428 9.25485 17.4631C8.6113 18.0994 8.13831 18.7014 7.82846 19.1875C9.272 20.2212 11.0616 20.833 12.9998 20.833C14.151 20.833 15.2498 20.6172 16.2547 20.2253ZM18.2841 19.1053C19.9411 17.878 21.1232 16.0872 21.5205 14.0312C21.1522 13.9439 20.685 13.8544 20.1711 13.7857C19.0401 13.6348 17.8764 13.6096 16.7275 13.7516C17.2176 15.0793 17.6194 16.3884 17.9407 17.6414C18.081 18.1886 18.1953 18.6828 18.2841 19.1053ZM12.9998 22.9163C7.01675 22.9163 2.1665 18.2526 2.1665 12.4997C2.1665 6.74671 7.01675 2.08301 12.9998 2.08301C18.9829 2.08301 23.8332 6.74671 23.8332 12.4997C23.8332 18.2526 18.9829 22.9163 12.9998 22.9163Z"
                    fill="currentColor"></path>
                </svg>
                
              </div>
            </a><a href="#" class="social-link-block w-inline-block">
              <div class="social-link-embed w-embed">
                <svg
                  width="26"
                  height="25"
                  viewBox="0 0 26 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.0844 20.7685C18.3596 20.2559 21.6677 16.7493 21.6677 12.4997C21.6677 7.8973 17.7876 4.16634 13.0011 4.16634C8.21459 4.16634 4.33439 7.8973 4.33439 12.4997C4.33439 16.7493 7.64256 20.2559 11.9177 20.7685V14.583H9.75106V12.4997H11.9177V10.7766C11.9177 9.38358 12.0685 8.87845 12.3518 8.36919C12.635 7.85992 13.0507 7.46026 13.5803 7.1879C13.9949 6.97472 14.5092 6.84605 15.4079 6.79086C15.7646 6.76896 16.2263 6.79689 16.7927 6.87467V8.85384H16.2511C15.2573 8.85384 14.8473 8.89897 14.6021 9.02502C14.4501 9.10321 14.3438 9.20549 14.2624 9.35169C14.1313 9.58736 14.0844 9.82106 14.0844 10.7766V12.4997H16.7927L16.2511 14.583H14.0844V20.7685ZM13.0011 22.9163C7.01797 22.9163 2.16772 18.2526 2.16772 12.4997C2.16772 6.74671 7.01797 2.08301 13.0011 2.08301C18.9841 2.08301 23.8344 6.74671 23.8344 12.4997C23.8344 18.2526 18.9841 22.9163 13.0011 22.9163Z"
                    fill="currentColor"></path>
                </svg>
              </div>
            </a><a href="#" class="social-link-block w-inline-block">
              <div class="social-link-embed w-embed">
                <svg
                  width="25"
                  height="25"
                  viewBox="0 0 25 25"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15.9896 5.7806C14.3419 5.7806 12.9986 7.10148 12.9693 8.74573L12.94 10.3864C12.9338 10.7315 12.649 11.0063 12.3039 11.0002C12.2794 10.9998 12.2549 10.9979 12.2306 10.9946L10.6048 10.7728C8.4657 10.4811 6.41553 9.49655 4.44875 7.85775C3.82587 11.3053 5.04175 13.6943 7.9724 15.5367L9.79218 16.6808C10.0844 16.8646 10.1724 17.2504 9.98866 17.5426C9.94655 17.6096 9.89213 17.6679 9.82825 17.7146L8.17027 18.9259C9.15605 18.9879 10.0932 18.9447 10.8699 18.7897C15.784 17.8089 19.0519 14.1108 19.0519 8.01085C19.0519 7.51284 17.9974 5.7806 15.9896 5.7806ZM10.8862 8.70858C10.9358 5.93246 13.2016 3.69727 15.9896 3.69727C17.4097 3.69727 18.6944 4.27724 19.6197 5.21325C20.3607 5.20768 20.9911 5.39504 22.3996 4.54063C22.0514 6.24935 21.8786 6.99098 21.1352 8.01085C21.1352 15.9708 16.2424 19.842 11.2776 20.8327C7.87373 21.512 2.92348 20.3966 1.50562 18.9146C2.22794 18.859 5.166 18.5431 6.86357 17.3005C5.4271 16.3521 -0.290156 12.987 3.46646 3.94348C5.23049 6.00251 7.0188 7.40405 8.83141 8.14812C10.037 8.64304 10.3332 8.63315 10.8862 8.70858Z"
                    fill="currentColor"></path>
                </svg>
              </div>
            </a><a href="#" class="social-link-block w-inline-block">
              <div class="social-link-embed w-embed">
                <svg
                  width="28"
                  height="28"
                  viewBox="0 0 28 28"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15.1728 21.4937C15.667 21.4173 16.1728 21.5017 16.6155 21.7344C17.1531 22.0172 17.7514 22.1667 18.3762 22.1667C20.4703 22.1667 22.1679 20.469 22.1679 18.375C22.1679 17.7501 22.0183 17.1519 21.7357 16.6143C21.5029 16.1715 21.4184 15.6658 21.495 15.1716C21.5545 14.787 21.5846 14.3958 21.5846 14C21.5846 9.81184 18.1893 6.41667 14.0012 6.41667C13.6054 6.41667 13.2142 6.44679 12.8297 6.50628C12.3354 6.58273 11.8296 6.49834 11.387 6.26555C10.8494 5.98284 10.2511 5.83333 9.62622 5.83333C7.53214 5.83333 5.83455 7.53091 5.83455 9.625C5.83455 10.2499 5.98405 10.8481 6.26677 11.3858C6.49955 11.8285 6.58395 12.3342 6.50749 12.8284C6.44801 13.213 6.41789 13.6041 6.41789 14C6.41789 18.1882 9.81306 21.5833 14.0012 21.5833C14.3971 21.5833 14.7882 21.5532 15.1728 21.4937ZM14.0012 23.9167C8.5244 23.9167 4.08455 19.4768 4.08455 14C4.08455 13.4802 4.12452 12.9699 4.20158 12.4718C3.75432 11.6213 3.50122 10.6527 3.50122 9.625C3.50122 6.24226 6.24347 3.5 9.62622 3.5C10.6539 3.5 11.6225 3.7531 12.473 4.20036C12.9711 4.12332 13.4815 4.08333 14.0012 4.08333C19.478 4.08333 23.9179 8.52318 23.9179 14C23.9179 14.5197 23.8779 15.0301 23.8009 15.5282C24.2481 16.3787 24.5012 17.3473 24.5012 18.375C24.5012 21.7577 21.759 24.5 18.3762 24.5C17.3485 24.5 16.38 24.247 15.5295 23.7997C15.0313 23.8766 14.5209 23.9167 14.0012 23.9167ZM14.063 19.8325C10.7945 19.8325 9.33456 18.2248 9.33456 17.0184C9.33456 16.3969 9.79034 15.9656 10.4175 15.9656C11.8174 15.9656 11.4518 17.9779 14.063 17.9779C15.3962 17.9779 16.1347 17.2508 16.1347 16.5066C16.1347 16.0589 15.9161 15.5643 15.0347 15.3457L12.1293 14.6187C9.78952 14.0304 9.36461 12.7615 9.36461 11.5714C9.36461 9.09603 11.689 8.16667 13.8728 8.16667C15.8804 8.16667 18.2543 9.28207 18.2543 10.7655C18.2543 11.4024 17.6954 11.7728 17.0739 11.7728C15.8804 11.7728 16.1005 10.118 13.6909 10.118C12.4974 10.118 11.8288 10.6574 11.8288 11.4316C11.8288 12.2059 12.7655 12.4536 13.5811 12.6397L15.7236 13.1165C18.0723 13.6438 18.6679 15.0224 18.6679 16.3206C18.6679 18.3321 17.1227 19.8333 14.0191 19.8333L14.063 19.8325Z"
                    fill="currentColor"></path>
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="footer-links-wrapper">
          <div class="paragraph-mini body-font-color">
            © RNN Studio. Powered by <a
              href="#"
              class="template-utility-footer-link">Webflow</a
            >
          </div>
          <div class="template-utility-footer-links-wrapper">
            <a
              href="/template-info/changelog"
              class="template-utility-footer-link paragraph-mini">Changelog</a
            ><a
              href="/template-info/license"
              class="template-utility-footer-link paragraph-mini">License</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
