<div class="page-scroll-indicator-container">
  <div class="scroll-text">Scroll</div>
  <div class="page-scroll-indicator-wrapper">
    <div class="page-scroll-dot"></div>
    <div class="page-scroll-line"></div>
  </div>
</div>
