---
import MainHead from "../components/global/MainHead.astro";
import Navbar from "../components/global/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <MainHead
      title="Contact"
      description="Just drop a line, I'll figure out the best option for you"
    />
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
